body {
  padding: 0;
  margin: 0 auto;
  background-image: linear-gradient( rgba(255,255,255,0.6), rgba(0,0,0,0.6));
  background-color: rgb(232,228,149);
  font-family: 'Alegreya', serif;
  color: #2B2824;
  font-size: 16px;
  -webkit-animation: back_color 10s infinite;
  -moz-animation: back_color 10s infinite;
}


.card {
  border: 3px solid #2B2824;
  height: 800px;
  width: 700px;
  margin: 50px auto;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #2B2824;
  background: rgba(255,255,255,0.2)
}
.top {
  width:700px;
  margin-left: 130px;
  margin-right:130px;
  margin-top: 20px;
  margin-bottom: 120px;
}
.box {
  background-color: #ADA83D;
  float:left;
  padding: 20px;
  font-family: 'Play', sans-serif;
  font-weight: 400;
  font-size: 40px;
}

#box1{
  animation: nameload 3s;
  -webkit-animation: nameload 3s;
  -moz-animation: nameload 3s;

}

#box2{
  animation: nameload 1s;
  -webkit-animation: nameload 1s;
  -moz-animation: nameload 1s;
}

#box3{
  animation: nameload 5s;
  -webkit-animation: nameload 5s;
  -moz-animation: nameload 5s;
}

/* h1 {
  font-family: 'Play', sans-serif;
  font-weight: 400;
  font-size: 40px;
  text-align: center;
} */

ul {
  text-decoration: none;
  font-family: 'Alegreya', serif;
  font-size: 18px;
  color: #2B2824;
  margin-left: 30px;
  list-style-type: none;
}


.ball_1{
  border: 5px solid #0D5961;
  border-radius: 100%;
  height: 100px;
  width: 100px;
  position: relative;
  animation: move 5s normal linear;
  -webkit-animation: move 5s normal linear;
  -moz-animation: move 5s normal linear;

}

section {
  padding-left: 30px;


}

.subhead, section p{
  display: inline-block;
}

.subhead{
  font-family: 'Play', sans-serif;
  font-size: 24px;
  color: #6B051C;
}

section p{
  font-family: 'Alegreya', serif;
  color: #2B2824;
  font-size: 18px;
  margin-left: 30px;
}

.phone {

}

.email {
  margin-top: -15px;
}

.about {

}
.dogs {
  width: 700px;
  text-align: center;
}

img {
  width: 250px;
  height: 250px;
  padding: 0 10px 0 10px;

}

/*ANIMATIONS*/

@-webkit-keyframes back_color {
  25%{ background-color: rgb(13,89,97);}
  50%{ background-color: rgb(107,5,28);}
  75%{ background-color: rgb(232,228,149);}
  }

@-webkit-keyframes move {
    0% {left: 0%;}
    50% {left: 50%;}
    100% {left: 85%;}
  }

  @keyframes move {
    0% {left: 0%;}
    50% {left: 50%;}
    100% {left: 85%;}
  }

  @-moz-keyframes move {
    0% {left: 0%;}
    50% {left: 50%;}
    100% {left: 85%;}
  }

@-webkit-keyframes nameload {
  from {-webkit-transform:translate(0px, 1000px)}
  to {-webkit-transform:translate(0px, 0px)}
}

@-moz-keyframes nameload {
  from {-moz-transform:translate(0px, 1000px)}
  to {-moz-transform:translate(0px, 0px)}
}

@keyframes nameload {
  from {transform:translate(0px, 1000px)}
  to {transform:translate(0px, 0px)}
}
