body {
  padding: 0;
  margin: 0;
  position: relative;
  text-align: center;
  background-image: linear-gradient( rgba(255,255,255,0.6), rgba(0,0,0,0.6));
  background-color: rgb(232,228,149);
  font-family: 'Alegreya', serif;
  color: #2B2824;
  -webkit-animation: back_color 10s infinite;
  -moz-animation: back_color 10s infinite;
}


.card {
  border: 3px solid #2B2824;
  height: 800px;
  width: 700px;
  margin: 50px auto;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #2B2824;
  background: rgba(255,255,255,0.2)
}

h1{
  font-family: 'Play', sans-serif;
  font-weight: 400;
  font-size: 40px;
}

.ball_1{
  border: 5px solid #0D5961;
  border-radius: 100%;
  height: 100px;
  width: 100px;
  position: relative;
  animation: move 10s infinite normal ease-in-out;
  -webkit-animation: move 10s infinite normal ease-in-out;
  -moz-animation: move 10s normal ease-in-out;

}


@-webkit-keyframes back_color {
  25%{
    background-color: rgb(13,89,97);
  }
  50%{
    background-color: rgb(107,5,28);
  }
    75%{
      background-color: rgb(232,228,149);
    }
  }

@-webkit-keyframes move {
    0% {
      left: -300px;
    }
    50% {
      left: 550px;
    }
    100% {
      left: 1400px;
    }
  }

  @keyframes move {
    0% {
      left: -300px;
    }
    50% {
      left: 550px;
    }
    100% {
      left: 1400px;
    }
  }

  @-moz-keyframes move {
    0% {
      left: -300px;
    }
    50% {
      left: 550px;
    }
    100% {
      left: 1400px;
    }
  }
