body {
  padding: 0;
  margin: 0 auto;
  background-image: linear-gradient( rgba(255,255,255,0.6), rgba(0,0,0,0.6));
  background-color: rgb(232,228,149);
  font-family: 'Alegreya', serif;
  color: #2B2824;
  font-size: 16px;
  -webkit-animation: back_color 10s infinite;
  -moz-animation: back_color 10s infinite;
  z-index:1;
}
.card {
  border: 3px solid #2B2824;
  height: 700px;
  width: 700px;
  margin: 50px auto;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #2B2824;
  background: rgba(255,255,255,0.2)
}
.top {
  width:700px;
  margin-left: 130px;
  margin-right:130px;
  margin-top: 20px;
  margin-bottom: 120px;
}
.box {
  float:left;
  padding: 20px;
  font-family: 'Play', sans-serif;
  font-weight: 400;
  font-size: 40px;
}

#box1{
  animation: nameload 3s;
  -webkit-animation: nameload 3s;
  -moz-animation: nameload 3s;

}

#box2{
  animation: nameload 1s;
  -webkit-animation: nameload 1s;
  -moz-animation: nameload 1s;
}

#box3{
  animation: nameload 5s;
  -webkit-animation: nameload 5s;
  -moz-animation: nameload 5s;
}

/* h1 {
  font-family: 'Play', sans-serif;
  font-weight: 400;
  font-size: 40px;
  text-align: center;
} */

ul {
  text-decoration: none;
  font-family: 'Alegreya', serif;
  font-size: 18px;
  color: #2B2824;
  margin-left: 30px;
  list-style-type: none;
}


.ball_1{
  border-top: 5px solid #2B2824;
  margin-bottom:2px;

}

section {
  padding-left: 30px;


}

.subhead, section p{
  display: inline-block;
}

.subhead{
  font-family: 'Play', sans-serif;
  font-size: 24px;
  color: #6B051C;
  animation: bounceIn 3s;
  -moz-animation: bounceIn 3s;
  -webkit-animation: bounceIn 3s;
}

section p{
  font-family: 'Alegreya', serif;
  color: #2B2824;
  font-size: 24px;
  margin-left: 30px;
}

.phone {


}

.email {
  margin-top: -15px;

}

.about {
  margin-bottom: 50px;
}

.about_words {
  display: inline;
  font-family: 'Alegreya', serif;
  color: #2B2824;
  font-size: 18px;

}

.about_words-1 span{
  position: absolute;
  opacity: 0;
  overflow: hidden;
  font-family: 'Alegreya', serif;
  color: black;
  font-size: 18px;
  margin-left:15px;
  margin-top: -7px;
  -webkit-transform-origin: 10% 75%;
  transform-origin: 10% 75%;
  -webkit-animation: rotateWord 19s linear infinite 6s;
  -ms-animation: rotateWord 19s linear infinite 6s;
  animation: rotateWord 19s linear infinite 6s;
}
.about_words span:nth-child(2) {
  -webkit-animation-delay: 9s;
  -ms-animation-delay: 9s;
  animation-delay: 9s;
  color: black;
}
.about_words span:nth-child(3) {
  -webkit-animation-delay: 13s;
  -ms-animation-delay: 13s;
  animation-delay: 13s;
  color: black;
}
.about_words span:nth-child(4) {
  -webkit-animation-delay: 16s;
  -ms-animation-delay: 16s;
  animation-delay: 16s;
  color: black;
}
.about_words span:nth-child(5) {
  -webkit-animation-delay: 19s;
  -ms-animation-delay: 19s;
  animation-delay: 19s;
  color: black;
}

.dogs {
  width: 700px;
  text-align: center;
}

img {
  width: 250px;
  height: 250px;
  padding: 0 10px 0 10px;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;


}

img:hover {
  -webkit-transform: scale(2);
  -moz-transform: scale(2);
  transform: scale(2),

}

/*ANIMATIONS*/

@-webkit-keyframes back_color {
  33%{ background-color: rgb(13,89,97);}
  66%{ background-color: rgb(107,5,28);}
  100%{ background-color: rgb(232,228,149);}
  }

@-webkit-keyframes move {
    0% {left: 0%;}
    50% {left: 50%;}
    100% {left: 85%;}
  }

  @keyframes move {
    0% {left: 0%;}
    50% {left: 50%;}
    100% {left: 85%;}
  }

  @-moz-keyframes move {
    0% {left: 0%;}
    50% {left: 50%;}
    100% {left: 85%;}
  }

@-webkit-keyframes nameload {
  from {-webkit-transform:translate(0px, 1000px)}
  to {-webkit-transform:translate(0px, 0px)}
}

@-moz-keyframes nameload {
  from {-moz-transform:translate(0px, 1000px)}
  to {-moz-transform:translate(0px, 0px)}
}

@keyframes nameload {
  from {transform:translate(0px, 1000px)}
  to {transform:translate(0px, 0px)}
}

@-webkit-keyframes rotateWord {
  0% { opacity: 0; }
  5% { opacity: 1; font-size:30px;}
  15% { opacity: 1; -webkit-transform: rotate(0deg); font-size:30px; }
  20% { opacity: 1; -webkit-transform: rotate(110deg); }
  21% { opacity: 1; -webkit-transform: rotate(95deg); }
  23% { opacity: 1; -webkit-transform: translateY(85px) rotate(83deg); }
  25% { opacity: 0; -webkit-transform: translateY(170px) rotate(75deg); }
  80% { opacity: 0; font-size: 18px;}
  100% { opacity: 0; font-size: 18px; }
}



keyframes bounceIn {
  0% {transform: scale(0);
      opacity: 0;
  }
  60% {
    transform: scale(2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}


@-moz-keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
